{% extends "base.html" %}

{% block title %}D&amp;D Weapons | Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Low-level Weapons for D&amp;D 5e</h1>
        <p>A +1 weapon is a kingly gift in the newest edition of Dungeons and Dragons. And yet the allure of killing monsters and taking their stuff never grows old. What magical weapons should we line the tombs and treasure chests that we put in the path of our players' early adventures? I have created this generator that uses a table of 100 properties to generate nearly 10,000 weak but unique magical weapons. These are the kind of weapons that are better than nothing, but each weaker than a +1 weapon.</p>

        <p>+1 weapons are also guilty of being boring. Each property in this generator lends to an evocative name, either to be used as-is or to offer inspiration for something better. And that's it. You won't find paragraphs of fiction describing the back story of these weapons, nor dialogue from a scene depicting its origin. Just concise, evocative names to get your gears turning.</p>

        <p>Whether you use these humble items as-is, or they serve as to inspire you, I hope you enjoy!</p>
    </div>
</div>
{% endblock %}
